<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moiz.indoorts">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SignupActivityTheme">
        <activity
            android:name=".TakeATourActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SignupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentDashboardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyDashboardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecoverPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentLoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyLoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentAccountSettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentLogoutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentNextActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentShareActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyAccountSettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyLogoutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyNextActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyShareActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fd3a9d3c541b43de5d5e5884ccff4fd261a8d381" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".StudentChangeEmailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyChangeEmailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhiteFridayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhiteSaturdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhiteSundayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhiteMondayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhiteTuesdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhiteWednesdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhiteThursdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyStatusActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TheirStatusActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindLocationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroundFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FourthFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FifthFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SixthFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeventhFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EighthFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NinthFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TenthFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EleventhFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RooftopActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllFloorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SourceMapActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NextMapActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpCenterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServicesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OurTeamActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayVideoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhiteClassroomActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SignupActivityTheme.CustomTheme" />
        <activity
            android:name=".WhiteFacultyroomActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/SignupActivityTheme.CustomTheme" />
        <activity
            android:name=".GreenClassroomActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SignupActivityTheme.CustomTheme" />
        <activity
            android:name=".GreenFacultyroomActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/SignupActivityTheme.CustomTheme" />
        <activity
            android:name=".GreenFridayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GreenSaturdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GreenSundayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GreenMondayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GreenTuesdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GreenWednesdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GreenThursdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".DarkblueFridayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DarkblueMondayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DarkblueSaturdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DarkblueSundayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DarkblueThursdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DarkblueTuesdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DarkblueWednesdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DarkblueFacultyroomActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/SignupActivityTheme.CustomTheme" />
        <activity android:name=".DarkblueClassroomActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SignupActivityTheme.CustomTheme"/>
        <activity android:name=".LightblueClassroomActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SignupActivityTheme.CustomTheme"/>
        <activity android:name=".LightblueFacultyroomActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/SignupActivityTheme.CustomTheme" />
        <activity android:name=".LightblueFridayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LightblueSaturdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LightblueSundayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LightblueMondayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LightblueTuesdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LightblueWednesdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LightblueThursdayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>